.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header, footer {
  background-color: rgb(44, 38, 230);
}

.main {
  /* height: 100vh; */
  position: relative;
} 
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.5rem;    
}


body {
  background-color: black;
  color: black;

}

h1 {
  background-color: black;
  color: white;
  padding-left: 100px;
  padding-top: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#profilePic {
  float: right;
  margin-right: 50px;
  margin-top: 70px;
  width: 647px;
  height: 470px;
}

div {
  text-align: center;
}

#about {
  text-align: center;
}

.card {
  margin-left: 20px;
  margin-top: 50px;


}

#smallCards {
  float: left;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;

}

#skills {
  float: right;
  margin-right: 50px;

}

#strength {
  margin-left: 40px;
}

#personal {
  margin-left: 40px;
}


#workExperiences {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: left;
}

#hobbies {
  float: left;
  margin-left: 40px;
  margin-top: 40px;
}

#project1 {
  float: left;
  margin-top: 40px;
  margin-left: 40px;
}

#project2 {
  float: left;
  margin-left: 80px;
}

a {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}



@media screen and (max-width: 1280px) {

  body {
      background-color: black;

  }


  h1 {
      text-align: center;
  }

  div {
      text-align: center;
  }

  a {
      margin-right: 20px;
      padding-left: 20px;
  }

  #profilePic {
      margin-right: 20px;
      padding-left: 20px;
  }

  .card {

      float: left;
      margin-right: 60px;
      padding-left: 20px;

  }

  #about {
      margin-right: 30px;
      padding-left: 20px;

  }
}

@media screen and (max-width: 662px) {

  body {
      background-color: black;

  }


  h1 {
      text-align: center;
  }

  div {
      text-align: center;
  }

  a {
      margin-right: 5px;
      padding-left: 5px;
  }

  #profilePic {
      margin-right: 5px;
      padding-left: 5px;
  }

  .card {

      float: left;
      margin-right: 20px;
      padding-left: 5px;

  }

  #about {
      margin-right: 30px;
      padding-left: 5px;

  }
}

@media screen and (max-width: 500px) {

  body {
      background-color: black;
      align-items: center;
      float: left;
  

  }


  h1 {
      text-align: center;
  }

  div {
      text-align: center;
  }

  a {
      margin-right: 5px;
      padding-left: 2px;
  }

  #profilePic {
      margin-right: 5px;
      padding-left: 2px;
  }

  .card {

      float: left;
      margin-right: 1px;
      padding-left: 1px;

  }

  #about {
      margin-right: 5px;
      padding-left: 2px;

  }
  .smallCards {
      margin-right: 2px;
      padding-left: 2px;
      float: left;
  }
}

@media screen and (max-width: 200px) {

  body {
      background-color: black;
      align-items: center;

  }


  h1 {
      text-align: center;
  }

  div {
      text-align: center;
  }

  a {
      margin-right: 1px;
      padding-left: 1px;
  }

  #profilePic {
      margin-right: 1px;
      padding-left: 1px;
  }

  .card {

      float: left;
      margin-right: 1px;
      padding-left: 1px;

  }

  #about {
      margin-right: 1px;
      padding-left: 1px;

  }
  .smallCards {
      margin-right: 1px;
      padding-left: 1px;
      float: left;
  }
}